header {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.header h1 {
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.header ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.header a {
  color: #e5e7eb;
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-bottom: 100px;
}

.left-container {
  display: flex;
  flex-direction: column;
  padding-left: 75px;
}

.left-container h1 {
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  width: 330px;
  margin: 0;
}

.left-container p {
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
  width: 450px;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  width: 100px;
  border-radius: 5px;
  height: 30px;
  border: none;
  margin-top: 10px;
}

.right-container {
  width: 545px;
}
.right-container img {
  height: 200px;
  width: 465px;
  padding-right: 85px;
}
