body {
  margin: 0;
}
header {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.header h1 {
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.header ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.header a {
  color: #e5e7eb;
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-bottom: 100px;
}

.left-container {
  display: flex;
  flex-direction: column;
  padding-left: 75px;
}

.left-container h1 {
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  width: 330px;
  margin: 0;
}

.left-container p {
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
  width: 450px;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  width: 100px;
  border-radius: 5px;
  height: 30px;
  border: none;
  margin-top: 10px;
}

.right-container {
  width: 545px;
}
.right-container img {
  height: 225px;
  width: 465px;
  padding-right: 85px;
}

.second-section {
  height: 440px;
}
.info {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.info h1 {
  justify-content: center;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.cards {
  display: flex;
  flex: 0;
  flex-direction: column;
}

.cards img {
  width: 150px;
  height: 150px;
  border: solid #3882f6 5px;
  border-radius: 20px;
}

.cards p {
  text-align: center;
  width: 150px;
}

.third-section {
  background-color: #e5e7eb;
}

.testimonial {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 330px;
}

.testimonial p {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  width: 800px;
  margin: 0;
  padding-top: 40px;
  font-style: italic;
}

.name {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-left: 580px;
}

.fourth-section {
  height: 200px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}

.call {
  display: flex;
  background-color: #3882f6;
  padding: 20px;
  width: 850px;
  gap: 100px;
  height: 80px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}

.action {
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.action h3,
.action p {
  margin: 0;
}

#call-button {
  margin: 0;
  border: solid #f9faf8 2px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: #f9faf8;
}
